.card {
  border-radius: 1.2rem !important;
}

.table td {
  vertical-align: middle;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(25, 135, 84, 0.5) !important;
  border-color: #198754 !important;
}
