.product-image {
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}
.product-image:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.product-image:active {
  transform: scale(0.95);
}
/* Hero section */
.hero-section {
  background: url("../asset/banner.jpg") center/cover no-repeat;
  min-height: 70vh;
  position: relative;
}
.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(68, 65, 65, 0.6);
}
.hero-section .container {
  position: relative;
  z-index: 2;
}

/* Hover hiệu ứng cho card */
.hover-card {
  transition: all 0.3s ease;
}
.hover-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Product card */
.product-card {
  transition: all 0.3s ease;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  position: relative;
}
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.product-image-container {
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  position: relative;
}
.product-image {
  width: 100%;
  height: 230px;
  object-fit: contain;
  transition: transform 0.4s ease;
}
.product-card:hover .product-image {
  transform: scale(1.1);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 135, 84, 0.25);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.product-card:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 135, 84, 0.25);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.product-card:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(113, 132, 123, 0.25);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.product-card:hover .overlay {
  opacity: 1;
}
/* Promo section */
.promo-section {
  background: linear-gradient(135deg, #2e7d32, #66bb6a);
}
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
